<div class="jsonServer">
  <h2>json-server</h2>
  <input type="text" #name placeholder="name">{{tip}}
  <br>
  <input type="text" #eat placeholder="eat">
  <br>
  <input type="text" #id placeholder="id">
  <br>
  <input type="text" #id2 placeholder="id2">
  <br>
  <button (click)="search(name,eat,id,'all')">所有数据</button>
  <button (click)="search(name,eat,id,'name')">根据name查询</button>
  <button (click)="search(name,eat,id,'job')">根据job查询</button>
  <button (click)="search(name,eat,id,'sort')">根据name或job排序</button>
  <button (click)="search(name,eat,id,'id')">根据id查询</button>
  <br>
  <button (click)="search(name,eat,id,'like')">包含</button>
  <button (click)="search(name,eat,id,'gte')">大于等于</button>
  <button (click)="search(name,eat,id,'lte')">小于等于</button>
  <button (click)="search(name,eat,id,'ne')">不等于</button>
  <button (click)="between(id.value,id2.value)">获取id区间的数据</button>
  <br>
  <button (click)="itGet()">Get</button>
  <button (click)="itPost()">Post</button>
  <button (click)="itDelete()">Delete</button>
  <button (click)="itPut()">Put</button>
  <button (click)="itPatch()">Patch</button>
  <button (click)="itSearch()">Search</button>
</div>
<ul style="margin-top:10px;">
  <li *ngFor="let data of datas" (click)="goto(url)">{{data|json}}</li>
</ul>
<div>
  <h2>将图片放在json-server文件夹内，模拟网络方式加载图片</h2>
  <img src="http://localhost:3003/22.png">
</div>
<p>
  查看package.json和mock了解怎么配置的json-server
</p>