<h2>奥森图标</h2>
<p>
  https://fontawesome.com
  <br> https://www.npmjs.com/package/@fortawesome/angular-fontawesome

  <br> cnpm i @fortawesome/fontawesome-svg-core --save
  <br> cnpm i @fortawesome/free-solid-svg-icons --save
  <br> cnpm i @fortawesome/angular-fontawesome --save
  <br> cnpm i @fortawesome/free-brands-svg-icons --save
  <br> cnpm i @fortawesome/free-regular-svg-icons --save
</p>
<div class="iconWaper">
  <div>
    <p>普通图标</p>
    <fa-icon [icon]="['fas', 'coffee']"></fa-icon>
    <fa-icon [icon]="['fas', 'cog']" size="lg"></fa-icon>
    <fa-icon [icon]="['fas', 'power-off']" size="lg"></fa-icon>
    <fa-icon [icon]="['fas', 'keyboard']" size="lg"></fa-icon>
    <fa-icon [icon]="['fas', 'sync']" size="lg"> </fa-icon>
    <fa-icon [icon]="['fas', 'bug']" size="lg"></fa-icon>
    <fa-icon [icon]="['fas', 'cog']" size="lg"></fa-icon>
    <fa-icon [icon]="['fas', 'question-circle']" size="lg"></fa-icon>
    <fa-icon [icon]="['fas', 'times']"> </fa-icon>
    <fa-icon [icon]="['fas', 'calendar']"></fa-icon>
  </div>
  <div>
    <p>样式：
      <br>固定宽度：fixedWidth
    </p>
    <fa-icon [fixedWidth]="true" [icon]="['fas','times']" [ngStyle]="{color: 'red'}" *ngIf="true" size="xs"> </fa-icon>
  </div>
  <div>
    <p>旋转</p>
    <fa-icon [icon]="['fas', 'magic']"></fa-icon>正常
    <br>
    <fa-icon [icon]="['fas', 'magic']" rotate="90"></fa-icon>90度
    <br>
    <fa-icon [icon]="['fas', 'magic']" rotate="270"></fa-icon>270度
    <br>
    <fa-icon [icon]="['fas', 'magic']" flip="horizontal"></fa-icon>左右镜像
    <br>
    <fa-icon [icon]="['fas', 'magic']" transform="flip-v"></fa-icon>上下镜像，
    <br>
    <fa-icon [icon]="['fas', 'magic']" transform="flip-v flip-h"></fa-icon>左右、上下镜像
  </div>
  <div>
    <p>渲染方法</p>
    <fa-icon [icon]="['far', 'keyboard']" size="lg"></fa-icon>
    <fa-icon [icon]="['fas', 'keyboard']" size="lg"></fa-icon>
    <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
  </div>
  <div>
    <p>有border</p>
    <fa-icon [icon]="['fas', 'stroopwafel']" [border]="true"></fa-icon>
    <p>没有border</p>
    <fa-icon [icon]="['fas', 'stroopwafel']" [border]="false"></fa-icon>
  </div>
  <div>
    <p>旋转</p>
    <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
    <br>
    <fa-icon [icon]="['fas', 'spinner']" [pulse]="true"></fa-icon> 以8步旋转
  </div>

  <div>
    <p>缩放及偏移</p>
    <fa-icon [icon]="['fas', 'coffee']" transform="shrink-5 right-2 grow-2 top-2" [ngStyle]="{color: 'blue'}" [mask]="['fas', 'square']"></fa-icon>
  </div>
  <div>
    <p>缩放及偏移</p>
    <fa-icon [icon]="['fas', 'coffee']" transform="shrink-5"></fa-icon>shrink-5
    <br>
    <fa-icon [icon]="['fas', 'coffee']" transform="grow-2"></fa-icon>grow-2
    <br>
    <fa-icon [icon]="['fas', 'coffee']" transform="left-2"></fa-icon>left-2
    <br>
    <fa-icon [icon]="['fas', 'coffee']" transform="right-2"></fa-icon>right-2
    <br>
    <fa-icon [icon]="['fas', 'coffee']" transform="up-2"></fa-icon>up-2
    <br>
    <fa-icon [icon]="['fas', 'coffee']" transform="down-2"></fa-icon>down-2
    <br>
  </div>
  <div>
    <p>单击切换旋转动画</p>
    <fa-icon [icon]="['fas', 'sync']" [spin]="isSyncAnimated" (click)="isSyncAnimated=!isSyncAnimated"></fa-icon>
  </div>
  <div>
    <p>根据输入值设定旋转角度</p>
    <fa-icon [icon]="['fas', 'magic']" transform="rotate-{{magicLevel}}"></fa-icon>&nbsp;&nbsp;&nbsp;{{magicLevel}}
    <br>
    <input type='range' [value]="magicLevel" step="10" min="0" max="360" (input)="magicLevel=$event.target.value" />
  </div>
  <div>
    <p>图层、图标组合，一定要有 fa-inverse</p>
    <fa-layers class="fa-stack fa-2x">
      <fa-icon [icon]="['fas', 'square']" class="fa-2x"></fa-icon>
      <fa-icon [inverse]="true" [icon]="['fas', 'spinner']" class="fa-1x fa-inverse"></fa-icon>
    </fa-layers>
  </div>
  <div>
    <p>图层、文字组合</p>
    <fa-layers style="width:40px;">
      <fa-icon [icon]="['fas', 'square']" style="color: rgb(116, 211, 38);width:20px;"></fa-icon>
      <fa-layers-text content="Y3" [ngStyle]="{'font-size': '12px','color':'blue','width':'40px'}"></fa-layers-text>
    </fa-layers>
  </div>
  <div style="font-size:20px;">
    <p>小上标</p>
    <fa-layers>
      <fa-icon [icon]="['fas', 'envelope']"></fa-icon>
      <fa-layers-counter content="965" [ngStyle]="{'font-size': '30px','color':'blue'}"></fa-layers-counter>
    </fa-layers>
  </div>
  <div>
    <p>在列表中</p>
    <ul class="fa-ul">
      <li>
        <fa-icon class="fa-li" [icon]="['fas', 'envelope']"></fa-icon>erfewrwe
        <li>
          <fa-icon class="fa-li" [icon]="['fas', 'envelope']"></fa-icon>
          be used to</li>
        <li>
          <fa-icon class="fa-li" [icon]="['fas', 'envelope']"></fa-icon>replace bullets</li>
        <li>
          <fa-icon class="fa-li" [icon]="['fas', 'envelope']"></fa-icon>
          in lists
        </li>
    </ul>
  </div>
  <div style="width:100px;">
    <p>位置</p>
    <fa-icon [icon]="['fas', 'coffee']" pull="left"></fa-icon>
    <fa-icon [icon]="['fas', 'coffee']" pull="right"></fa-icon>
  </div>
  <div style="font-size: 24px;color: Tomato;">
    <p>尺寸</p>
    <fa-icon [icon]="['fas', 'bug']" size="xs"></fa-icon>0.75em
    <br>
    <fa-icon [icon]="['fas', 'bug']" size="sm"></fa-icon>0.875em
    <br>
    <fa-icon [icon]="['fas', 'bug']" size="lg"></fa-icon>1.33em
    <br>
    <fa-icon [icon]="['fas', 'bug']" size="2x"></fa-icon>2em
    <br>
    <fa-icon [icon]="['fas', 'bug']" size="3x"></fa-icon>3em
    <br>
    <fa-icon [icon]="['fas', 'bug']" size="4x"></fa-icon>4em
    <br>
    <fa-icon [icon]="['fas', 'bug']" size="5x"></fa-icon>5em
    <br>
    <fa-icon [icon]="['fas', 'bug']" size="6x"></fa-icon>6em
    <br>
    <fa-icon [icon]="['fas', 'bug']" size="7x"></fa-icon>7em
    <br>
    <fa-icon [icon]="['fas', 'bug']" size="8x"></fa-icon>8em
    <br>
    <fa-icon [icon]="['fas', 'bug']" size="9x"></fa-icon>9em
    <br>
    <fa-icon [icon]="['fas', 'bug']" size="10x"></fa-icon>10em
    <br>
  </div>
  <div>
    <h2>svg</h2>
    <div>
      <svg viewBox="0 0 128 128" height="100%" width="100%" pointer-events="none" display="block" id="svg-1">
        <path fill="#FF8A85" d="M0 0h128v128H0z" />
        <path fill="#FFE0B2" d="M36.3 94.8c6.4 7.3 16.2 12.1 27.3 12.4 10.7-.3 20.3-4.7 26.7-11.6l.2.1c-17-13.3-12.9-23.4-8.5-28.6 1.3-1.2 2.8-2.5 4.4-3.9l13.1-11c1.5-1.2 2.6-3 2.9-5.1.6-4.4-2.5-8.4-6.9-9.1-1.5-.2-3 0-4.3.6-.3-1.3-.4-2.7-1.6-3.5-1.4-.9-2.8-1.7-4.2-2.5-7.1-3.9-14.9-6.6-23-7.9-5.4-.9-11-1.2-16.1.7-3.3 1.2-6.1 3.2-8.7 5.6-1.3 1.2-2.5 2.4-3.7 3.7l-1.8 1.9c-.3.3-.5.6-.8.8-.1.1-.2 0-.4.2.1.2.1.5.1.6-1-.3-2.1-.4-3.2-.2-4.4.6-7.5 4.7-6.9 9.1.3 2.1 1.3 3.8 2.8 5.1l11 9.3c1.8 1.5 3.3 3.8 4.6 5.7 1.5 2.3 2.8 4.9 3.5 7.6 1.7 6.8-.8 13.4-5.4 18.4-.5.6-1.1 1-1.4 1.7-.2.6-.4 1.3-.6 2-.4 1.5-.5 3.1-.3 4.6.4 3.1 1.8 6.1 4.1 8.2 3.3 3 8 4 12.4 4.5 5.2.6 10.5.7 15.7.2 4.5-.4 9.1-1.2 13-3.4 5.6-3.1 9.6-8.9 10.5-15.2M76.4 46c.9 0 1.6.7 1.6 1.6 0 .9-.7 1.6-1.6 1.6-.9 0-1.6-.7-1.6-1.6-.1-.9.7-1.6 1.6-1.6zm-25.7 0c.9 0 1.6.7 1.6 1.6 0 .9-.7 1.6-1.6 1.6-.9 0-1.6-.7-1.6-1.6-.1-.9.7-1.6 1.6-1.6z"
        />
        <path fill="#E0F7FA" d="M105.3 106.1c-.9-1.3-1.3-1.9-1.3-1.9l-.2-.3c-.6-.9-1.2-1.7-1.9-2.4-3.2-3.5-7.3-5.4-11.4-5.7 0 0 .1 0 .1.1l-.2-.1c-6.4 6.9-16 11.3-26.7 11.6-11.2-.3-21.1-5.1-27.5-12.6-.1.2-.2.4-.2.5-3.1.9-6 2.7-8.4 5.4l-.2.2s-.5.6-1.5 1.7c-.9 1.1-2.2 2.6-3.7 4.5-3.1 3.9-7.2 9.5-11.7 16.6-.9 1.4-1.7 2.8-2.6 4.3h109.6c-3.4-7.1-6.5-12.8-8.9-16.9-1.5-2.2-2.6-3.8-3.3-5z"
        />
        <circle fill="#444" cx="76.3" cy="47.5" r="2" />
        <circle fill="#444" cx="50.7" cy="47.6" r="2" />
        <path fill="#444" d="M48.1 27.4c4.5 5.9 15.5 12.1 42.4 8.4-2.2-6.9-6.8-12.6-12.6-16.4C95.1 20.9 92 10 92 10c-1.4 5.5-11.1 4.4-11.1 4.4H62.1c-1.7-.1-3.4 0-5.2.3-12.8 1.8-22.6 11.1-25.7 22.9 10.6-1.9 15.3-7.6 16.9-10.2z"
        />
      </svg>
    </div>
  </div>
</div>
