<form novalidate [formGroup]="forms">
  
  <div class="content">
    <div class="login">
      <div class="tip">
        <span>{{tipText}}</span>
      </div>
      <div class="inputName">
        <label>
          <span>名字：</span>
          <input type="text" placeholder="张三" formControlName="name">
        </label>
        <label>
          <span>密码：</span>
          <input type="text" placeholder="li123" formControlName="password">
        </label>
      </div>
      <div class="buttons">
        <div>
          <!--在form标签内的button， 必须标明 type="button"，否则会自动执行submit -->
          <button type="button" (click)="login()">Login</button>
          <button type="button" (click)="signup()">Signup</button>
          <button type="button" (click)="forget()">forget</button>
          <button type="button" (click)="changeInformation()">changeInformation</button>
        </div>
      </div>
    </div>
    <div class="rightImg">
      <img [src]="imgSrc">
    </div>
  </div>
</form>
