<div>
  <div class="waper">
    <div>
      <div class="canWaper">
        <div>
          <button (click)="fillRect()">fillRect</button>
          <button (click)="strokeRect()">strokeRect</button>
          <button (click)="clearRect()">clearRect</button>
        </div>
        <canvas id="d1" width="180px" height="180px"></canvas>
      </div>
      <ul>
        <strong>绘制矩形</strong>
        <li *ngFor="let t of text1">{{t}}</li>
      </ul>
    </div>
    <div>
      <div class="canWaper">
        <div>
          <button (click)="line()">线</button>
          <button (click)="line2()">多条线</button>
          <button (click)="xx()">虚线</button>
          <button (click)="sj()">三角</button>
          <button (click)="tcsj()">填充三角</button>
        </div>
        <canvas id="d2" width="250px" height="200px"></canvas>
      </div>
      <ul>
        <strong>绘制路径(path)</strong>
        <li *ngFor="let t of text2">{{t}}</li>
      </ul>
    </div>
  </div>

  <div class="waper">
    <div>
      <div class="canWaper">
        <div>
          <button (click)="arc()">绘制圆弧</button>
          <button (click)="arc2()">控制点</button>
          <button (click)="arcFill()">绘制闭合</button>
          <button (click)="arcFill2()">绘制填充</button>
        </div>
        <canvas id="d3" width="180px" height="200px"></canvas>
      </div>
      <ul>
        <strong>绘制圆弧</strong>
        <li *ngFor="let t of text3">{{t}}</li>
      </ul>
      <div>
        <p>圆弧：X轴方向为 0°</p>
        <p>arc(100,75,50,0*Math.PI,1.5*Math.PI,true)</p>
        <p>中心：100,75</p>
        <p>起始角：0*Math.PI，Math.PI / 2=90°</p>
        <p>结束角：1.5*Math.PI</p>
        <p>Math.PI / 2=90°，-Math.PI / 2=-90°</p>
        <p>方向：顺时针 true，逆时针 false</p>
        <p>1.圆的周长C=2πr=πd</p>
        <p>2.圆的面积S=πr²</p>
        <p>3.扇形弧长l=(πr/180)*n</p>
        <p>4.扇形面积S=(πr²/360)*n=rl/2</p>
        <div style="display: flex">
          <div>
            <img src="assets/arct.png" style="width:200px;">
          </div>
          <div>
            <p>控制点绘制圆弧</p>
            <img src="../assets/1.png" style="width:160px;">
          </div>
        </div>

      </div>
    </div>

    <div>
      <div class="canWaper">
        <div>
          <button (click)="er()">二次贝塞尔</button>
          <button (click)="san()">三次贝塞尔</button>
          <button (click)="wenzi()">文字</button>
        </div>
        <canvas id="d4" width="250px" height="350px"></canvas>
      </div>
      <div>
        <div style="display: flex">
          <div>
            <p>绘制二次贝塞尔曲线</p>
            <img src="../assets/2.png">
          </div>
          <div>
            <p>绘制三次贝塞尔曲线</p>
            <img src="../assets/3.png">
          </div>
        </div>
        <strong>给文本添加样式：</strong>
        <ul>
          <li *ngFor="let t of text5">{{t}}</li>
        </ul>
      </div>
    </div>
  </div>
  <div style="display: flex;border: 1px dashed rgb(168, 163, 163);">
    <div style="margin-right: 10px">
      <div>
        <button (click)="tc()">填充</button>
      </div>
      <canvas id="tc" width="150px" height="240px"></canvas>
    </div>
    <div style="margin-right: 10px">
      <div>
        <button (click)="mb()">描边</button>
      </div>
      <canvas id="mb" width="150px" height="240px"></canvas>
    </div>
    <div style="margin-right: 10px">
      <div>
        <button (click)="xk()">线宽</button>
      </div>
      <canvas id="xk" width="150px" height="240px"></canvas>
    </div>
    <div style="margin-right: 10px">
      <div>
        <button (click)="tmd()">透明度</button>
      </div>
      <canvas id="tmd" width="150px" height="240px"></canvas>
    </div>
    <div style="margin-right: 10px">
      <div>
        <button (click)="xtmd()">线条末端样式</button>
      </div>
      <canvas id="xtmd" width="150px" height="240px"></canvas>
    </div>
    <div style="margin-right: 10px">
      <div>
        <button (click)="xj()">线条间接合处的样式</button>
      </div>
      <canvas id="d5" width="150px" height="240px"></canvas>
    </div>
    <ul>
      <strong>添加样式</strong>
      <li *ngFor="let t of text4">{{t}}</li>
    </ul>

  </div>

  <div class="waper2">
    <div>
      <div class="waper2">
        <div style="margin-right: 10px;">
          <div>
            <button (click)="createImg()">创建图片</button>
          </div>
          <canvas id="d6" width="120px" height="240px"></canvas>
        </div>
        <div style="margin-right: 10px">
          <div>
            <button (click)="fromImg()">img标签中的图片</button><br>
            <img src="assets/over1.png" id="isImg">
          </div>
          <canvas id="d7" width="120px" height="240px"></canvas>
        </div>
        <div style="margin-right: 10px">
          <div>
            <button (click)="scaleImg()">缩放图片</button><br>
            <img src="assets/over1.png" id="isImg2">
          </div>
          <canvas id="d8" width="150px" height="240px"></canvas>
        </div>
        <div style="margin-right: 10px">
          <div>
            <button (click)="qpImg()">从Img标签复制</button><br>
            <img src="assets/over1.png" id="isImg3">
          </div>
          <canvas id="d9" width="150px" height="240px"></canvas>
        </div>
        <div style="margin-right: 10px">
          <div>
            <button (click)="fzImg()">从当前canvas复制</button>
          </div>
          <canvas id="fz" width="220px" height="300px"></canvas>
        </div>
      </div>
      <div>
        <p>图片剪切复制</p>
        <img src="../assets/111.jpg" style="width:300px;height:300px;">
      </div>
    </div>

    <div>
      <div>
        <div style="display:flex;justify-content:flex-start;flex-wrap: wrap;align-content: flex-start">
          <div *ngFor="let item of arr,let i=index">
            <button (click)="drawArr(item,i)">{{item}}</button><br>
            <canvas [id]="'arrs'+i" width="110" height="60"></canvas>
          </div>
        </div>
        <ul>
          <strong>合成</strong>
          <li *ngFor="let t of text7">{{t}}</li>
        </ul>
      </div>
    </div>
  </div>

  <div style="display: flex;border: 1px dashed rgb(168, 163, 163);">
    <div style="width:60%;">
      <div style="display: flex;justify-content: space-around">
        <div style="margin-right: 10px">
          <div>
            <button (click)="state()">状态的保存、恢复</button>
          </div>
          <canvas id="d10" width="140px" height="240px"></canvas>
        </div>

        <div style="margin-right: 10px">
          <div>
            <button (click)="move()">坐标原点移动</button>
          </div>
          <canvas id="d11" width="100px" height="240px"></canvas>
        </div>
        <div style="margin-right: 10px">
          <div>
            <button (click)="rotate()">旋转</button>
          </div>
          <canvas id="d12" width="100px" height="240px"></canvas>
        </div>
        <div style="margin-right: 10px">
          <div>
            <button (click)="scale()">缩放</button>
          </div>
          <canvas id="d13" width="100px" height="240px"></canvas>
        </div>
        <div style="margin-right: 10px">
          <div>
            <button (click)="transform()">变形</button>
          </div>
          <canvas id="d14" width="100px" height="240px"></canvas>
        </div>
        <div style="margin-right: 10px">
          <div>
            <button (click)="clip()">剪切</button>
          </div>
          <canvas id="d15" width="100px" height="240px"></canvas>
        </div>
      </div>
      <div style="display: flex;justify-content: space-around">
        <div>
          <button (click)="clock()">模拟时钟</button><br>
          <canvas id="clock" width="200" height="200"></canvas>
        </div>
        <div>
          <button (click)="sun()">太阳系</button><br>
          <canvas id="sun" width="200" height="200"></canvas>
        </div>
        <div>
          <p>旋转角度</p>
          <img src="../assets/roate.png">
        </div>
        <div>
          <p>原点移动 translate</p>
          <img src="../assets/trans.png">
        </div>
      </div>
    </div>
    <ul>
      <strong>状态的保存、恢复</strong>
      <li *ngFor="let t of text6">{{t}}</li>
      <strong>动画的基本步骤</strong>
      <li *ngFor="let t of text8">{{t}}</li>
    </ul>
  </div>
  <div class="waper2">
    <div style="margin-right: 10px">
      <div>
        <button (click)="animate1()">点线动画</button>
      </div>
        <canvas id="c1" width="400px" height="300px"></canvas>
    </div>
  </div>
</div>
