<div class="box">
  <div>
    <div>
        <div id="ohter">其他组件内的标签</div>
      <h2>transform:matrix(aa,bb,cc,dd,ee,ff)</h2>
      aa：水平缩放(宽窄变化):<input [(ngModel)]="aa" (ngModelChange)="mackeChange()"><br>
      bb：垂直拉伸(上下拉伸):<input [(ngModel)]="bb" (ngModelChange)="mackeChange()"><br>
      cc：水平拉伸(左右拉伸):<input [(ngModel)]="cc" (ngModelChange)="mackeChange()"><br>
      dd：垂直缩放(高矮变化):<input [(ngModel)]="dd" (ngModelChange)="mackeChange()"><br>
      ee：水平位移(左右移动):<input [(ngModel)]="ee" (ngModelChange)="mackeChange()"><br>
      ff：垂直位移(上下移动):<input [(ngModel)]="ff" (ngModelChange)="mackeChange()"><br>
      <p>这些值都可写成正、负值</p>
    </div>
    <div class="isDiv" id="divs"></div>
  </div>
  <div class="rightImg">
    <img src="http://localhost:3003/1.png">
    <img src="http://localhost:3003/2.png">
  </div>
</div>
