.css3Waper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.css3Waper>div {
  min-width: 300px;
  margin: 10px;
}

.linearGradient1 {
  height: 50px;
  background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet)
}

.linearGradient2 {
  height: 50px;
  background: repeating-linear-gradient(90deg, yellow 10%, green 20%)
}

.oneP {
  width: 200px;
  height: 40px;
  background: #4CAF50;
  position: relative;
}

.oneP:after {
  content: '';
  position: absolute;
  z-index: 11;
  box-shadow: 20px 5px 10px rgba(223, 19, 19, 0.9);
  width: 100%;
  height: 10px;
  bottom: 0;
}

.test {
  text-overflow: ellipsis;
  width: 150px;
  white-space: nowrap;
  width: 12em;
  overflow: hidden;
}

.isBefore,
.isAfter {
  position: relative;
}

.isBefore::before {
  content: "@";
  font-weight: bold;
  position: absolute;
  top: 10%;
  left: -30px;
}

.isAfter::after {
  content: "#";
  font-weight: bold;
  position: absolute;
  top: 10%;
  right: 30px;
}

.test2 {
  width: 250px;
  border: 5px solid #f32a8f;
  transform-origin: 50% 0%;
  transform: rotate(10deg);
  margin-left: 100px;
  /* transform: translate(50px, 100px); */
  /* transform: rotateY(40deg); */
}

#boxs {
  width: 350px;
  display: column;
  column-count: 3;
  column-gap: 20px;
  column-rule: 1px outset #ff00ff;
}


/* ////////////////////////////////////////////////////////////////////////////////// */

.imgDiv {
  width: 100%;
  height: calc(100% - 21px);
  margin-right: 10px;
}

.imgDiv img {
  width: 100%;
  height: 100%;
}

.filters {
  display: flex;
  justify-content: flex-start
}

.filters>div {
  margin-right: 30px;
}

.filters>div:nth-child(1) img {
  /* 模糊 */
  filter: blur(1px);
}

.filters>div:nth-child(2) {
  /* 灰度 */
  filter: grayscale(80%);
}

.filters>div:nth-child(3) img {
  /* 阴影 */
  filter: drop-shadow(18px 8px 10px red);
}

/* ********************************************************************************* */

.mediaDiv {
  background: pink;
  height: 50px;
}

/* 表示宽度至少480px，即大于1080 */

@media screen and (min-width: 1080px) {
  .mediaDiv {
    border: 3px solid rgb(19, 27, 19);
  }
}

/* 表示宽度最多480px，即小于680 */

@media screen and (max-width: 880px) {
  .mediaDiv {
    border: 15px solid rgb(19, 27, 19);
  }
}

/* ******************************************************************* */

.radiusDiv {
  width: 200px;
  height: 50px;
  background-color: #cae8ca;
  border: 2px solid #4CAF50;
  border-top-left-radius: 20px 40px;
  border-top-right-radius: 80px 40px;
  border-bottom-left-radius: 30px 40px;
  border-bottom-right-radius: 30px 40px;
}

/* ******************************************************************* */

.stickyDiv {
  height: 200px;
  background: rgb(234, 229, 238);
  margin-top: 40px;
  overflow-y: scroll;
}

.scrollDiv>div>div {
  height: 25px;
}

.sticky {
  position: sticky;
  top: 0;
  padding: 5px;
  background-color: #cae8ca;
  border: 2px solid #4CAF50;
}

.active {
  color: red;
}

.icons1 {
  display: inline-block;
  width: 40px;
  height: 41px;
  background: url('../../../assets/jinglingtu.png') no-repeat -25px -20px;
}

.icons2 {
  display: inline-block;
  width: 56px;
  height: 56px;
  background: url('../../../assets/jinglingtu.png') no-repeat -108px -15px;
}

.dropItem {
  width: 150px;
  height: 80px;
  background: red;
}

/*******************************************************/
section div {
  display: flex
}

.hexagon {
  display: inline-block;
  width: 388px;
  height: 333px;
  background-image:
    linear-gradient(120deg, #fae1e1 83px, transparent 0, transparent 419px, #fae1e1 0),
    linear-gradient(-120deg, #fae1e1 83px, transparent 0, transparent 419px, #fae1e1 0),
    linear-gradient(160deg, transparent 345px, #1e934f 0),
    linear-gradient(140deg, transparent 376px, #1e934f 0),
    linear-gradient(120deg, transparent 254px, #085b25 0),
    linear-gradient(150deg, #053b17 183px, transparent 0),
    linear-gradient(80deg, transparent 0px, #085b25 0);
  background-color: #053b17,
}


.kk1 {
  width: 150px;
  height: 100px;
  margin-right: 10px;
  background-color: red;
  background-image: linear-gradient(10deg, #fae1e1 50px, transparent 70px,transparent 80px, #fae1e1 0);

}

.isMap{
  width:200px;
  height:200px;
  border:1px solid;
}