<div class="css3Waper">
  <div>
    <h2>动态设置图标(导航使用)</h2>
    <div>
      <i class="iconfont" *ngFor="let lists of listData" [ngClass]="setClass(lists.icon)"> {{lists.name}}</i>
    </div>
  </div>

  <div>
    <h2>线性渐变</h2>
    <div class="linearGradient1"></div>
  </div>

  <div>
    <h2>重复的线性渐变</h2>
    <div class="linearGradient2">改变窗口宽度看效果</div>
  </div>

  <div>
    <h2>@media媒体查询</h2>
    <div class="mediaDiv">改变窗口宽度看效果</div>
  </div>
  <div>
    <h2>单独设置圆角</h2>
    <div class="radiusDiv"> </div>
  </div>
  <div>
    <h2>阴影</h2>
    <p class="oneP"></p>
  </div>
  <div>
    <h2>文字超出</h2>
    <p class="test">单行文字超出 单行文字超出 单行文字超出</p>
    <p class="test_more">多行文字超出 多行文字超出 多行文字超出 多行文字超出 多行文字超出 多行文字超出 </p>
  </div>
  <div>
    <h2 class="isBefore">伪元素::before</h2>
    <h2 class="isAfter">伪元素::after</h2>
  </div>
  <div>
    <h2>css3变形</h2>
    <p class="test2">css3变形css3变形css3变形css3变形</p>
  </div>
  <div>
    <p #isTar>元素的css样式增删</p>
    <button (click)="show(isTar)">show</button>
    <button (click)="hide(isTar)">hide</button>
  </div>
  <div>
    <p>精灵图</p>
    <p>使用 zoom 进行缩放，会完整的缩放，导致页面重构</p>
    <div class="icons1"></div>&nbsp;&nbsp;
    <div class="icons2"></div>
    <p>使用 scale 进行缩放，元素尺寸不变，只是看起来缩放了，不导致页面重构</p><br>
    <div class="icons3"></div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="icons4"></div>
  </div>
  <div>
    <h3>创建小三角</h3>
    <div class="sanjiao"></div>
  </div>
  <div id="boxs">
    使用css分栏 使用css分栏 使用css分栏 使用css分栏 使用css分栏 使用css分栏 使用css分栏 使用css分栏 使用css分栏 使用css分栏 使用css分栏 使用css分栏 使用css分栏 使用css分栏
    使用css分栏
  </div>
  <div>
    <p class="hexagon">no -webkit-</p>
  </div>

  <div>
    <div id="center">
      <p class="yuan1"></p>
      <p class="yuan2"></p>
      <p class="yuan3"></p>
      <p class="yuan4"></p>
    </div>
    <p>
      linear-gradient 添加旋转角度时，<br>
      无论角度为多少，都会在保证所有元素能显示出来的情况下进行旋转
      <br>
      所以，并没有固定的旋转中心;<br>
      transparent是全透明黑色(black)的速记法，即rgba(0,0,0,0)这样的值。
    </p>
  </div>
  <section>
    <h2>图片地图</h2>
    <p>
      圆形：shape="circle"，coords="x,y,r"<br>
      这里的 x 和 y 定义了圆心的位置（"0,0" 是图像左上角的坐标），r 是以像素为单位的圆形半径。<br>
      多边形：shape="polygon"，coords="x1,y1,x2,y2,x3,y3,..."<br>
      每一对 "x,y" 坐标都定义了多边形的一个顶点（"0,0" 是图像左上角的坐标）。<br>
      定义三角形至少需要三组坐标；高纬多边形则需要更多数量的顶点。<br>
      多边形会自动封闭，因此在列表的结尾不需要重复第一个坐标来闭合整个区域。<br>
      矩形：shape="rectangle"，coords="x1,y1,x2,y2"<br>
      第一个坐标是矩形的一个角的顶点坐标，另一对坐标是对角的顶点坐标，"0,0" 是图像左上角的坐标。<br>
      定义矩形实际上是定义带有四个顶点的多边形的一种简化方法。<br>
      img 标签和 map标签通过 usemap -> name 关联起来
    </p>
    <img src="assets/moon.png" usemap="#planetmap" class="isMap" alt="" />
    <map name="planetmap">
      <area shape="circle" coords="40,40,35" href="https://www.baidu.com/" title="aaaaaa" target="_blank" alt="Venus" />
      <area shape="circle" coords="150,150,50" href="https://www.npmjs.com/" title="bbbbb" target="_blank" alt="Mercury" />
      <area shape="rect" coords="100,0,200,80" href="https://cn.vuejs.org/" title="cccc" target="_blank" alt="Sun" />
    </map>
  </section>
</div>

<div>
  <h2>滤镜</h2>
  <div class="filters">
    <div style="width:200px;height:140px;">
      <p>模糊</p>
      <div class="imgDiv">
        <img src="assets/1.jpg">
      </div>
    </div>
    <div style="width:200px;height:140px;">
      <p>灰度</p>
      <div class="imgDiv">
        <img src="assets/1.jpg">
      </div>
    </div>
    <div style="width:200px;height:140px;">
      <p>阴影</p>
      <div class="imgDiv">
        <img src="assets/1.jpg">
      </div>
    </div>
    <div>
      <h2>图片拖动</h2>
      <div style="display:flex;justify-content: space-between">
        <div>
          <p>拖动图片到div里，执行drag和drop</p>
          <div class="dropItem" (dragover)="dragoverFn($event)" (drop)="dropFn($event)"></div>
          <img width="50px" id="dragImg" height="50px" src="../assets/earth.png" draggable="true" (dragstart)="dragstartFn1($event)">
        </div>
        <div style="margin-left:10px;">
          <p>只是将图片相对document进行定位</p>
          <img width="100px" height="100px" src="assets/earth.png" draggable="true" (dragstart)="dragstartFn($event)"
            (drag)="dragFn($event)">
        </div>
      </div>

    </div>
  </div>
</div>

<div class="wraper">

  <div>
    <h3>让文字环绕一定的形状、路径排版</h3>
    shape-outside: circle(arg) //创建圆<br>
    shape-outside: polygon(arg); //创建多边形<br>
    shape-outside: ellipse(arg); //创建椭圆<br>
    shape-outside: inset(arg); //创建矩形
  </div>

  <div>
    <div class="item">
      <h4>创建圆:shape-outside: circle();</h4>
      <div>
        <img src="http://www.daqianduan.com/wp-content/uploads/2018/11/shapes.jpg" class="shapes shapes1">
        <p>关关雎鸠，在河之洲</p>
        <p>窈窕淑女，君子好逑</p>
        <p>参差荇菜，左右流之</p>
        <p>窈窕淑女，寤寐求之</p>
        <p>求之不得，寤寐思服</p>
        <p>悠哉悠哉，辗转反侧</p>
        <p>参差荇菜，左右采之</p>
        <p>窈窕淑女，琴瑟友之</p>
        <p>参差荇菜，左右芼之</p>
        <p>窈窕淑女，钟鼓乐之</p>
      </div>
    </div>

    <div class="item">
      <h4>创建多边形:shape-outside: polygon();</h4>
      <div>
        <div class="shapes shapes2"></div>
        <p>关关雎鸠，在河之洲</p>
        <p>窈窕淑女，君子好逑</p>
        <p>参差荇菜，左右流之</p>
        <p>窈窕淑女，寤寐求之</p>
        <p>求之不得，寤寐思服</p>
        <p>悠哉悠哉，辗转反侧</p>
        <p>参差荇菜，左右采之</p>
        <p>窈窕淑女，琴瑟友之</p>
        <p>参差荇菜，左右芼之</p>
        <p>窈窕淑女，钟鼓乐之</p>
      </div>
    </div>

    <div class="item">
      <h4>创建椭圆:shape-outside: ellipse();</h4>
      <div class="toScroll">
        <div class="shapes shapes3"></div>
        <p>关关雎鸠，在河之洲</p>
        <p>窈窕淑女，君子好逑</p>
        <p>参差荇菜，左右流之</p>
        <p>窈窕淑女，寤寐求之</p>
        <p>求之不得，寤寐思服</p>
        <p>悠哉悠哉，辗转反侧</p>
        <p>参差荇菜，左右采之</p>
        <p>窈窕淑女，琴瑟友之</p>
        <p>参差荇菜，左右芼之</p>
        <p>窈窕淑女，钟鼓乐之</p>
      </div>
    </div>

    <div class="item">
      <h4>创建矩形: shape-outside: inset();</h4>
      <div>
        <div class="shapes shapes4"></div>
        <p>关关雎鸠，在河之洲</p>
        <p>窈窕淑女，君子好逑</p>
        <p>参差荇菜，左右流之</p>
        <p>窈窕淑女，寤寐求之</p>
        <p>求之不得，寤寐思服</p>
        <p>悠哉悠哉，辗转反侧</p>
        <p>参差荇菜，左右采之</p>
        <p>窈窕淑女，琴瑟友之</p>
        <p>参差荇菜，左右芼之</p>
        <p>窈窕淑女，钟鼓乐之</p>
      </div>
    </div>

    <div class="item">
      <h4>根据图片轮廓: shape-outside: url();</h4>
      <div>
        <div class="shapes shapes5"></div>
        <p>关关雎鸠，在河之洲</p>
        <p>窈窕淑女，君子好逑</p>
        <p>参差荇菜，左右流之</p>
        <p>窈窕淑女，寤寐求之</p>
        <p>求之不得，寤寐思服</p>
        <p>悠哉悠哉，辗转反侧</p>
        <p>参差荇菜，左右采之</p>
        <p>窈窕淑女，琴瑟友之</p>
        <p>参差荇菜，左右芼之</p>
        <p>窈窕淑女，钟鼓乐之</p>
      </div>
    </div>

    <div class="item">
      <h3>使用 clip-path() 和 shape-outside: polygon(),比较综合的</h3>
      <div>
        <div class="shapes shapes6"></div>
        <p>关关雎鸠，在河之洲</p>
        <p>窈窕淑女，君子好逑</p>
        <p>参差荇菜，左右流之</p>
        <p>窈窕淑女，寤寐求之</p>
        <p>求之不得，寤寐思服</p>
        <p>悠哉悠哉，辗转反侧</p>
        <p>参差荇菜，左右采之</p>
        <p>窈窕淑女，琴瑟友之</p>
        <p>参差荇菜，左右芼之</p>
        <p>窈窕淑女，钟鼓乐之</p>
      </div>
    </div>

    <div class="item">
      <h3>使用 clip-path()</h3>
      <div class="main1">
        <div class="left1"></div>
        <div class="right1"></div>
        <p class="ppp">
          Sometimes a web page's text content appears to be
          funneling your attention towards a spot on the page
          to drive you to follow a particular link. Sometimes
          you don't notice.
        </p>
      </div>
    </div>

    <div id="box" class="box">
      <i id="shape" class="shape"></i>
      <i class="liuhai"></i>
      <div class="content">
        <ul>
          <li>为了防止看花眼</li>
          <li>我就手动敲下面的文字</li>
          <li>原本我偷懒</li>
          <li>为了防止看花眼</li>
          <li>我就手动敲下面的文字</li>
          <li>原本我偷懒</li>
          <li>为了防止看花眼</li>
          <li>我就手动敲下面的文字</li>
          <li>原本我偷懒</li>
          <li>为了防止看花眼</li>
          <li>我就手动敲下面的文字</li>
          <li>原本我偷懒</li>
          <li>为了防止看花眼</li>
          <li>我就手动敲下面的文字</li>
          <li>原本我偷懒</li>
          <li>理论上还可以使用CSS region实现</li>
          <li>但没有这个方法容易理解</li>
          <li>为了防止看花眼</li>
          <li>我就手动敲下面的文字</li>
          <li>原本我偷懒</li>
          <li>为了防止看花眼</li>
          <li>我就手动敲下面的文字</li>
          <li>原本我偷懒</li>
          <li>为了防止看花眼</li>
          <li>我就手动敲下面的文字</li>
          <li>原本我偷懒</li>
          <li>为了防止看花眼</li>
          <li>我就手动敲下面的文字</li>
          <li>原本我偷懒</li>
          <li>为了防止看花眼</li>
          <li>我就手动敲下面的文字</li>
          <li>原本我偷懒</li>
          <li>理论上还可以使用CSS region实现</li>
          <li>但没有这个方法容易理解</li>
        </ul>
      </div>
    </div>

  </div>


</div>

<div class="stickyDiv">
  <h2>粘性定位</h2>
  <div class="scrollDiv">
    <div>*****直接父元素*****</div>
    <div style="color:red;">粘性定位的元素，会以他的直接父元素为定位参考，不会脱离当前文档流</div>
    <div style="color:red;">当他的直接父元素都滚出页面，他也就跟着消失</div>
    <div>**********</div>
    <div>**********</div>
    <div>**********</div>
    <div>**********</div>
    <div>**********</div>
    <div>**********</div>
    <div class="sticky">我是粘性定位!</div>
    <div>**********</div>
    <div>**********</div>
    <div>**********</div>
    <div>**********</div>
    <div>**********</div>
    <div>**********</div>
    <div>**********</div>
    <div>**********</div>
    <div>**********</div>
    <div>**********</div>
    <div>**********</div>
    <div>**********</div>
    <div>**********</div>
  </div>
  <div>
    sticky可以使用sticky的前提条件<br>
    父元素不能overflow:hidden或者overflow:auto属性。<br>
    必须指定top、bottom、left、right4个值之一，否则只会处于相对定位<br>
    父元素的高度不能低于sticky元素的高度<br>
    sticky元素仅在其父元素内生效<br>
    <div>**********</div>
    <div>**********</div>
    <div>另外的元素</div>
    <div>****另外的元素******</div>
    <div>****另外的元素******</div>
    <div>****另外的元素******</div>
    <div>****另外的元素******</div>
    <div>****另外的元素******</div>
    <div>****另外的元素******</div>
    <div>****另外的元素******</div>
    <div>****另外的元素******</div>
    <div>****另外的元素******</div>
    <div>****另外的元素******</div>
    <div>****另外的元素******</div>
    <div>****另外的元素******</div>
    <div>****另外的元素******</div>
    <div>****另外的元素******</div>
    <div>****另外的元素******</div>
    <div>****另外的元素******</div>
  </div>
</div>
