<div class="css3Waper">
  <div>
    <h2>动态设置图标(导航使用)</h2>
    <div>
      <i class="iconfont" *ngFor="let lists of listData" [ngClass]="setClass(lists.icon)"> {{lists.name}}</i>
    </div>
  </div>

  <div>
    <h2>线性渐变</h2>
    <div class="linearGradient1"></div>
  </div>

  <div>
    <h2>重复的线性渐变</h2>
    <div class="linearGradient2">改变窗口宽度看效果</div>
  </div>

  <div>
    <h2>@media媒体查询</h2>
    <div class="mediaDiv">改变窗口宽度看效果</div>
  </div>
  <div>
    <h2>单独设置圆角</h2>
    <div class="radiusDiv"> </div>
  </div>
  <div>
    <h2>阴影</h2>
    <p class="oneP"></p>
  </div>
  <div>
    <h2>文字超出</h2>
    <p class="test">aksdjflkajsdflkjasldkfjalksdjflasdf</p>
  </div>
  <div>
    <h2 class="isBefore">伪元素::before</h2>
    <h2 class="isAfter">伪元素::after</h2>
  </div>
  <div>
    <h2>css3变形</h2>
    <p class="test2">css3变形css3变形css3变形css3变形</p>
  </div>
</div>
<div>
  <p>元素的css样式增删</p>
  <button (click)="show(isTar)">show</button>
  <button (click)="hide(isTar)">hide</button>
  <div #isTar>dfasdfadff</div>
</div>
<div>
  <p>精灵图</p>
  <div class="icons1"></div>
  <div class="icons2"></div>
</div>


<div>
  <h2>滤镜</h2>
  <div class="filters">
    <div style="width:200px;height:140px;">
      <p>模糊</p>
      <div class="imgDiv">
        <img src="assets/1.jpg">
      </div>
    </div>
    <div style="width:200px;height:140px;">
      <p>灰度</p>
      <div class="imgDiv">
        <img src="assets/1.jpg">
      </div>
    </div>
    <div style="width:200px;height:140px;">
      <p>阴影</p>
      <div class="imgDiv">
        <img src="assets/1.jpg">
      </div>
    </div>
  </div>
</div>
<div>

  calc(100vw - 100%):100vw相对于浏览器的window.innerWidth，是浏览器的内部宽度，滚动条宽度也计算在内！而100%是可用宽度，是不含滚动条的宽度。
</div>
<div class="stickyDiv">
  <h2>粘性定位</h2>
  <div class="scrollDiv">
    <div>*****直接父元素*****</div>
    <div style="color:red;">粘性定位的元素，会以他的直接父元素为定位参考，不会脱离当前文档流</div>
    <div style="color:red;">当他的直接父元素都滚出页面，他也就跟着消失</div>
    <div>**********</div>
    <div>**********</div>
    <div>**********</div>
    <div class="sticky">我是粘性定位!</div>
    <div>**********</div>
    <div>**********</div>
    <div>**********</div>
    <div>**********</div>
    <div>**********</div>
    <div>**********</div>
    <div>**********</div>
    <div>**********</div>
    <div>**********</div>
    <div>**********</div>
    <div>**********</div>
    <div>**********</div>
    <div>**********</div>
    <div>**********</div>
    <div>**********</div>
    <div>**********</div>
    <div>**********</div>
    <div>**********</div>
    <div>**********</div>
    <div>**********</div>
    <div>**********</div>
  </div>
  <div>另外的元素</div>
  <div>****另外的元素******</div>
  <div>****另外的元素******</div>
  <div>****另外的元素******</div>
  <div>****另外的元素******</div>
  <div>****另外的元素******</div>
  <div>****另外的元素******</div>
  <div>****另外的元素******</div>
  <div>****另外的元素******</div>
  <div>****另外的元素******</div>
  <div>****另外的元素******</div>
  <div>****另外的元素******</div>
  <div>****另外的元素******</div>
  <div>****另外的元素******</div>
  <div>****另外的元素******</div>
  <div>****另外的元素******</div>
  <div>****另外的元素******</div>


</div>
