input {
    font-size: 14px;
}

ul {
    list-style-type: none;
    margin-right: 50px;
}

div {
    padding: 2px;
}

button {
    margin-left: 5px;
    font-size: 16px;
    padding: 2px
}

label {
    display: inline-block;
    width: 120px;
    text-align: right
}

.toFlex {
    display: flex;
}