<div class="waper">
  <div>
    <h2>一些数组的方法</h2>
    <button [ngStyle]="{color:num==i?'red':''}" *ngFor="let item of arrFns;let i=index" style="cursor: pointer;"
      (click)="isClick(item,i)">{{item}}</button>
    <br>方法的结果：{{showData|json}}
    <div>
      <button [ngStyle]="{color:num2==i?'red':''}" *ngFor="let item of arrFns2;let i=index" style="cursor: pointer;"
        (click)="isClick2(item,i)">{{item}}</button>
      <br>方法的结果： {{arrFns2Result|json}}
    </div>
    <div>
      <button (click)="fn1()">数值向下取整</button>
      <span *ngFor="let da of quzheng">{{da}}</span>
    </div>
    <div>
      <button (click)="jiequString()">字符串截取</button>
      <span>{{fromString}}：{{subString}}</span>
      <button (click)="toReload()">浏览器刷新</button>
    </div>
    <div>
      <button (click)="autoAudio()">后台播放音乐</button>
      <button (click)="stopAudio()">停止播放</button>
    </div>
  </div>
  <div>
    @Self() - 表示只在本级注入器查找依赖对象
    <br> @SkipSelf() - 表示不从本级注入器获取依赖对象
    <br> @Optional - 表示该依赖对象是可选的，如果找不到返回 null
  </div>
  <div>
    <h2>时间方法</h2>
    <p style="margin:3px;" *ngFor="let da of datas,let i = index">{{i+1}}：{{da}}</p>
  </div>
  <div>
    <h2>(contextmenu)鼠标右键点击事件</h2>
    <input type="button" style="font-size:12px;padding:0;" value="自定义点击鼠标右键" (contextmenu)="fff($event)">
    {{contextmenuData}}
  </div>
  <div>
    <h2>Proxy 代理对象</h2>
    <button (click)="Proxy_set()">Proxy_set</button>
    <button (click)="Proxy_get()">Proxy_get</button>
  </div>
  <div style="width:100px;margin:0;flex-shrink: 0">
    <h2>浏览器全屏显示</h2>
    <button (click)='full(true)'>全屏</button>
    <button (click)='full(false)'>退出全屏</button>

    <div class="toFull">被全屏的元素<br>
      <button (click)='full(false)'>退出全屏</button>
    </div>
  </div>
</div>
<hr>
<div class="waper">
  <div>
    <h2>数据类型判断</h2>
    <button (click)="dataType()">dataType</button>
  </div>
  <div>
    <h2>将元素变成可编辑的</h2>
    <span contentEditable='true' class="canEdit"></span>

  </div>

</div>
<hr>
<div class="waper">
  <div>
    <button (click)="start(4)">start</button>
    <button (click)="start()">stop</button>
    <div style="position: relative;">
      <div>requestAnimationFrame动画函数</div>
      <span class="ani" #tar style='top: 50px;left: 0;'>
        动画
      </span>
    </div>
  </div>
  <div>
    <button (click)="geolocation()">获取位置信息</button>
    <button (click)="closeGet()">关闭监听位置变化</button>
  </div>
  <div style="width:700px;">
    <h3>使用createObjectURL动态显示图片</h3>
    <input type="file" (change)="seefile($event)">
    <h3>使用 FileReader 动态显示图片</h3>
    <input type="file" (change)="seefile1($event)">
    <div id="ele"></div>
    <h3>通过js生成input标签来实现文件上传，并使用 FileReader 读取文件并监听进度</h3>
    <button (click)="seefile2()">选择文件</button>
    <div>{{progress}}</div>
  </div>
  <div>
    <h2>使用 Renderer2 选取dom元素</h2>
    <p>
      1.用id或class名都可以选择标签，但如果标签是组件内的元素，则会剪切标签的内容，从而实现，标签还在，但没了子元素，成为一个空标签<br>
      2.如果选取的标签是其他组件的宿主（host）标签，则不会清空标签的内容<br>
      3.如果选取的是其他组件内的标签，则会实现第一条的效果<br>
      4.querySelector和querySelectorAll属于js原生方法:<br>
      this.elem.nativeElement.querySelector('#isH2')选取的范围只是当前组件<br>
      document.querySelector('#isH2')选取的范围为整个dom结构
    </p>
    <div>
      <span id="isH2">#id</span>
      <span class="isBtn">class名</span>
    </div>
    <button (click)="now_com()">用 #id 选取当前组件内的元素</button>
    <button (click)="now_isBtn()">用 class名 选取当前组件内的元素</button>
    <button (click)="now_host()">选取其他组件内的标签</button>
    <button (click)="other_com()">选取当前组件内插入的其他组件</button>
  </div>
</div>
<div>
  call/apply的第一个参数如果为null/undefined。this指向window
  call/apply是用来改变函数的作用域的，第一个参数为this指向,第二个参数为传输的值
</div>

<hr>
<div class="waper">
  <app-transform id="iskk"></app-transform>
</div>
