.ani {
    display: inline-block;
    background: red;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
    position: absolute;
}

.toFull:-webkit-full-screen {
    background: red;
    padding: 100px;
}

.toFull:-moz-full-screen {
    background: rgb(0, 255, 149);
    padding: 100px;
}

.toFull:fullscreen {
    background: rgb(229, 255, 0);
    padding: 100px;
}