<p>
  学习资源：https://whjin.github.io/full-stack-development/
</p>
<div class="waper">
  <div>
    <h2>构建 Angular CLI 6 库</h2>
    <p>1：ng generate library my-library（my-library为库的名字）</p>
    <p>2：在projects/src/lib文件夹内创建组件</p>
    <p>3：在projects/src文件夹内的 public_api.ts 内 export 创建的组件</p>
    <p>4：执行：ng build my-library --prod;创建库</p>
    <p>5：在app.module中或其他懒加载模块中引入projects/src/lib内定义的模块（如：MyLibraryModule）</p>
    <p>6：在项目里使用时先引入库模块，再用不同的标签引用库组件;</p>
    <p>6：如果library里的组件发生变动，需要重新执行build</p>
    <one-com></one-com>
  </div>
  <div>
    <h2>经验总结</h2>
    <p>1：在html模板文件的标签里，如果有类似：(click)="isSyncAnimated=!isSyncAnimated" 等简单的事件时，
      应用到的变量（如：isSyncAnimated）也要在ts文件内写出来，否则build时会报错</p>
    <p>2：Ctrl+k Shift+[：折叠当前函数（局部折叠）</p>
    <p>3：Ctrl+k Shift+]：展开当前函数（局部展开）</p>
    <p>4：打包：ng build --prod --base-href=http://www.dizmix.com/works/</p>
    <div>
      <h2>移动端判断</h2>
      var isAndroid = u.indexOf("Android") > -1 || u.indexOf("Linux") > -1; // 安卓终端<br>
      var isIOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端
    </div>
  </div>
</div>
