<form novalidate [formGroup]="forms">

  <div class="content">
    <div class="login">
      <div class="tip">
        <span>{{tipText}}</span>
      </div>
      <div class="inputName">
        <label>
          <span>名字：</span>
          <input type="text" placeholder="name" formControlName="name">
        </label>
        <label>
          <span>密码：</span>
          <input type="text" placeholder="password" formControlName="password">
        </label>
        <label *ngIf="userId">
          <span>确认：</span>
          <input type="text" placeholder="makesure" formControlName="makesure">
        </label>
        <p style="text-align: center">名字：张三，密码：li123</p>
      </div>
      <div class="buttons">
        <div>
          <!--在form标签内的button， 必须标明 type="button"，否则会自动执行submit -->
          <button type="button" (click)="changePassword()">{{buttonText}}</button>
          <button type="button" (click)="getPassword()">getPassword</button>
          <button type="button" (click)="back()">back</button>
        </div>
      </div>
    </div>
  </div>
</form>
