<div>
  <h2>action及state</h2>
  <button type="button" (click)="OneAction1()">OneAction1</button>
  <button type="button" (click)="TwoAction()">TwoAction</button>
  <button type="button" (click)="TwoActionRemove()">TwoActionRemove</button>
  <button type="button" (click)="useSetState()">useSetState</button>
  <button type="button" (click)="otherStateAction()">otherStateAction结合http</button>
  <button type="button" (click)="lifetime()">生命周期</button>
  <button type="button" (click)="routeTest()">路由('/module2/ngxs/list')</button>
</div>
<br>
<div>
  oneData:{{oneData|json}}
  <br> listData：{{listData|json}}
</div>
<div class="todo-list">
  <div>
    <h3>Reactive Form</h3>
    <form [formGroup]="pizzaForm" novalidate (ngSubmit)="onSubmit()" ngxsForm="todos.pizza">
      Toppings:
      <input type="text" formControlName="toppings" />
      <br> Crust
      <input type="text" formControlName="crust" />
      <br> Extras
      <div class="checkboxs">
        <label *ngFor='let extra of extras; let i=index'>
          <input type='checkbox' [formControl]='extra' /> {{allExtras[i].name}}
        </label>
      </div>
      <hr>
      <button type="submit">Set Olives</button>
      <button type="button" (click)="onPrefix()">Set Prfix</button>
      <button type="button" (click)="onLoadData()">Load Data</button>
    </form>
  </div>
  <hr>
  <h3>Todo Form</h3>
  <div class="add-todo">
    <input placeholder="New Todo" #text>
    <button (click)="addTodo(text.value)">Add</button>
  </div>
  <ul>
    <li class="todo" *ngFor="let todo of todos$ | async; let i = index">
      {{todo}}
      <button (click)="removeTodo(i)">🗑</button>
    </li>
    <li *ngFor="let todo of pandas$ | async">
      🐼
    </li>
  </ul>
</div>
