body,html,p,h2,h3,h4{
    margin:0;
    padding:0;
}
ul{
    outline: none;
    list-style: none;
    margin:0;
    padding:0;
}
li{
    cursor: pointer;
    margin:0;
    padding:0;
    outline: none;
}